<configuration>
    <appender name="SERVER" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/logs/backend.log</file>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLIENT" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/logs/client.log</file>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.chord.Node" level="INFO">
        <appender-ref ref="SERVER" />
    </logger>

    <logger name="com.chord.Parent" level="INFO">
        <appender-ref ref="SERVER" />
    </logger>

    <logger name="com.server.HttpServer" level="INFO">
        <appender-ref ref="SERVER" />
    </logger>

    <logger name="com.client.HttpClient" level="INFO">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="com.client.Counter" level="INFO">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="com.simulation.Aggregator" level="INFO">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="com.simulation.Simulation" level="INFO">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="com.simulation.Main" level="INFO">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="com.can.Node" level="INFO">
        <appender-ref ref="SERVER" />
    </logger>

    <logger name="com.can.Parent" level="INFO">
        <appender-ref ref="SERVER" />
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>